@model BlogApplication.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-bottom:20px;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subheading" class="control-label"></label>
                <input asp-for="Subheading" class="form-control" />
                <span asp-validation-for="Subheading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogContent" class="control-label"></label>
                <textarea class="form-control" id="exampleTextarea" rows="3" style="height: 92px;" asp-for="BlogContent"></textarea>
                <span asp-validation-for="BlogContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                  <label for="formFile" class="form-label"></label>
                  <input asp-for="BlogImage" type="hidden"/>
                       <input class="form-control"  type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event, this);">
                       <div class="preview">
                            <img id="file-ip-1-preview" />
                       </div>
                      <span asp-validation-for="BlogImage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    </script>
}
