@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Miami Coffee Blog</h1>
    <p>Follow along as I explore and taste the unique coffee shops of South Florida</p>
</div>
